
<html>
    <head></head>
    <body>
        <h1>Editting MAC</h1>
        <b>Adres :</b> <%- entry.MAC -%>
        
        <form action="changeMac" method="POST">
                <input type="hidden" name="MAC" value=<%- "\"" +entry.MAC+"\"" -%> />

                Nazwa: <input type="text" name="name"/><br>
                Właściciel: <input type="text" name="owner"/>         <br>
                <input type="submit" value="Edytuj" />
                <input type="button" value="Anuluj" onclick="window.location.replace('/')">
        </form>
    </body>
</html>