<html>
    <head>
        <style>
            table, th, td {
                border: 1px solid black;
              }
        </style>
    </head>
    <body>
        <h1>MAC ADRESY</h1>
        <table style="padding-left:5em;">
                <tr>
                    <td>
                        <b>MAC Adres</b>
                    </td>
                    <td>
                            <b>Nazwa</b>
                    </td>
                    <td>
                            <b>Własciciel</b>
                    </td>
                    <td>
                            <b>Typ</b>
                    </td>
                    <td>
                        <b>Adres IP</b>
                    </td>
                </tr>
                <% 
                for(mac of macs) { %>
                <tr>
                        <td>
                            <a href = <%- "\"editMac?mac=" +mac.MAC +  "\"" -%> ><%= mac.MAC -%></a>
                        </td> 
                        <td>
                            <p><%= mac.name -%></p>
                        </td>
                        <td>
                            <p><%= mac.owner -%></p>
                        </td>
                        <td>
                            <p><%= mac.type -%></p>
                        </td>
                        <td>
                            <p><%= mac.ip -%></p>
                        </td>
                    </tr>
        <% } %>
        </table>
    </body>
</html>